.wp-block-mha-testmohamedhabibaloui-content {
    .button {
        /* Box Model */
        opacity: .2; 
        display: inline-flex;
        margin: 1em 1em 0 0; /* shorthand for margin-top and margin-right */

        &.reverse {
            /* Box Model */
            flex-direction: row-reverse;
        }

        &--icon {
            /* Box Model */
            margin: 5px;
        }
    }
    .description {
        color: initial;
    }
}

.splitter {
    /* Box Model */
    width: 100%;
    height: 0px;
    margin: 10px 0;

    /* Visual Styles */
    border-bottom: 1px dashed;
}