
.wp-block-mha-testmohamedhabibaloui-content{
    /* Positioning */
    position: relative;

    /* Box Model */
    padding: 2em;
    border: dashed 3px #757575;

    /* Typography */
    color: #fff;

    /* Visual Styles */
    box-shadow: 15px 15px 1px #8b8b8b;
    img {
        /* Box Model */
        width: auto;
        max-width: 100%;
    }
}

