.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;

    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 1.5rem;
        border: none;
        padding: 1rem;
        cursor: pointer;
        z-index: 1;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
        }
    }

    &__imgwrapper {
        width: 100%;
        height: auto;
        display: block;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        border: 1px dashed green;
        max-height: 600px;
        position: relative;
        &.transitioning {
            opacity: 0;
        }

        .carousel__img {
            max-width:  100%;
            height: auto;
            display: block;
            transition: all 300ms;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}